body{
    margin: 0px;
    background-color: rgb(132, 132, 132);
}

header{
    padding: 40px;
    background-color: black;
    border-bottom: 5px dotted;
    border-color: rgb(238, 74, 74);
}

h1{
    color: white;
    text-align: center;
}

p{
    font-size: 40px;
    font-family: "Times New Roman";
    
}

main {
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
  background-color: #aeacac;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

form {
  margin: 0;
}

#p-form {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #333;
  font-family: 'Segoe UI', sans-serif;
}

label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  color: #444;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

#botao-enviar {
  background-color: #606a71;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

#botao-enviar:hover {
  background-color: #005fa3;
}