header{
    background-color: rgba(205, 71, 93, 0.849);
    padding-top: 40px;
    padding-bottom: 40px;
    border: 5px solid;
    border-color:rgba(212, 20, 20, 0.822) ;
}
header h1 {
    font-size: 45px;
    font-family: 'Times New Roman';
}

header nav{
    display: inline;
    position: relative;
    left: 75%; 
    bottom: 15px;  
}

h1{
    position: relative;
    font-family: "Arial";
    font-size: 35px;
    text-align: center;
    left: 15px;
    display: inline-block;
}
.menu_barbie{
    background-color: rgba(238, 37, 151, 0.455);
}

.souumaprincesa{
    display: inline-block;
    position: relative;
    left: 70%;
}


#barbie {
    position: static;
    width: 400px;
    height: 100%;
}
