header{
    background-color: rgba(0, 0, 0, 0.871);
    padding: 30px;
}

header h1 {
    color: aliceblue;
}

body{
    background-color: rgb(58, 56, 51);
}
body p {
    font-size: 30px;
}

.resumo{
    background-color: rgb(155, 24, 169);
    border:5px solid;
    border-radius: 10px;
    border-color: rgb(4, 4, 3);
    margin-bottom: 20px;
    margin: 10%;
}

.videos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow:row,wrap;

}

footer{
    padding: 40px;
    font-size: 30px;
    color:rgb(250, 252, 254);
    margin-top: 100px;
}
