body{
    margin: 0px;
    background-color: rgb(132, 132, 132);
}

header{
    padding: 40px;
    background-color: black;
    border-bottom: 5px dotted;
    border-color: rgb(238, 74, 74);
}
section{
    padding-top: 80px;
    padding-left: 80px;
    display: flex;
    justify-content:center;
    gap: 400px;
    
}

h1{
    color: white;
    text-align: center;
}

p{
    font-size: 40px;
    font-family: "Times New Roman";
}